<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
            <th data-field="id">User Email</th>
            <th data-field="name" style="padding-left: 40px;">Check Test</th>
        </tr>
      </thead>

      <tbody>
        <% @responses.each do |response| %>
          <tr>
            <td><%= response.user.email %></td>
            <td><%= link_to "Check Test", response_set_path(response), class: "btn red" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>        