<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Question</Data></Cell>
        <Cell><Data ss:Type="String">Given Answer</Data></Cell>
        <Cell><Data ss:Type="String">Correct Answer</Data></Cell>
        <Cell><Data ss:Type="String">Result</Data></Cell>
      </Row>
    <% @response_set.responses.each do |response| %>
      <Row>
        <Cell><Data ss:Type="String"><%= response.question.text %></Data></Cell>
        <Cell><Data ss:Type="String"><%= response.answer %></Data></Cell>
        <Cell><Data ss:Type="Number"><%#=  %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= response.answer %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>